<configuration>
  <connectionStrings>
    <add name="transmitConnectionString" connectionString="Data Source=theill-pc;Initial Catalog=transmit_development;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="StorageLocation" value="\\shared-files" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service
				name="Commanigy.Transmit.Server.TransferService"
				behaviorConfiguration="StreamingServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ServiceModelSamples/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ServiceModelSamples/service  -->
        <endpoint address="ep1"
						  binding="basicHttpBinding"
              bindingConfiguration="LargeHttpStreaming"
						  contract="Commanigy.Transmit.Server.ITransfer" />
        <!-- the mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex 
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
                  -->
      </service>
    </services>

    <bindings>
      <!-- enable streaming with a 2GB cap -->
      <basicHttpBinding>
        <binding name="LargeHttpStreaming" maxReceivedMessageSize="2147483648" transferMode="Streamed" messageEncoding="Mtom" />
      </basicHttpBinding>
      <!-- an example customBinding using Http and streaming
      <customBinding>
        <binding name="Soap12">
          <textMessageEncoding messageVersion="Soap12WSAddressing10" />
          <httpTransport transferMode="Streamed" maxReceivedMessageSize="2147483648"/>
        </binding>
      </customBinding>
      -->
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="StreamingServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>