<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITransfer" maxReceivedMessageSize="2147483648"
          messageEncoding="Mtom" transferMode="Streamed" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebHttpBinding_UsersService">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
          <!--    <wsdl:binding name='WebHttpBinding_UsersService'>    -->
          <!--        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http">..</http:NegotiateAuthentication>    -->
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/servicemodelsamples/service/ep1"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransfer"
        contract="ITransfer" name="BasicHttpBinding_ITransfer" />
      <endpoint address="http://localhost/Transmit.Internal/UsersService.svc"  binding="customBinding" bindingConfiguration="WebHttpBinding_UsersService"
        contract="UsersRef.UsersService" name="WebHttpBinding_UsersService" />
    </client>
  </system.serviceModel>
</configuration>