<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITransfer" maxReceivedMessageSize="2147483648"
          messageEncoding="Mtom" transferMode="Streamed">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Transmit.Upload/Transfer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransfer"
        contract="ITransfer" name="BasicHttpBinding_ITransfer" />
    </client>
  </system.serviceModel>
</configuration>