<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Commanigy.Transmit.Data.Properties.Settings.transmitConnectionString"
            connectionString="Data Source=theill-pc;Initial Catalog=transmit_development;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
